@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400&family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&family=Open+Sans&display=swap');

.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
