.editorial-item-page {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.h1 {
	margin-top: 2rem;
	font-size: 1.5rem;
	color: white;
}

.swipe {
	font-size: 1rem;
	color: white;
	text-align: center;
}

.h1-holder {
	display: flex;
	justify-content: center;
}

.editorial-item-page-row {
	margin-bottom: 2rem;
}

@media only screen and (max-device-width: 576px) {
	.editorial-item-page-row {
		margin-top: 2rem;
	}
}
