.row {
	display: flex;
	justify-content: center;
	color: black;
}

.image,
.about,
.image2-holder {
	margin: 2rem 0rem;
	text-align: justify;
}

.image2-holder {
	padding: 2rem 0rem;
}

.CTA-holder {
	border: 2px solid black;
	text-align: center;
	height: 22vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.CTA {
	margin-bottom: 0.5rem;
}

.CTA-link {
	color: black;
	border: 1px solid black;
	padding: 0.3rem 0.8rem;
}

.CTA-link:hover {
	color: white;
	background-color: black;
	text-decoration: none;
}

@media only screen and (max-device-width: 576px) {
	.row {
		padding: none;
	}

	.CTA-holder {
		height: 40vh;
	}

	.image2-holder {
		padding: 0rem 0rem;
	}

	.about {
		margin-bottom: 0;
	}
}
@media only screen and (min-device-width: 577px) and (max-device-width: 768px) {
	.image2-holder {
		display: none;
	}

	.about {
		margin-bottom: 0;
	}
}
@media only screen and (min-device-width: 769px) and (max-device-width: 992px) {
	.image2 {
		display: none;
	}

	.CTA {
		width: 70vh;
	}

	.image2-holder {
		display: none;
	}

	.about {
		margin-bottom: 0;
	}
}

@media only screen and (min-device-width: 992px) and (max-device-width: 1300px) {
	.about {
		line-height: normal;
		margin-top: 0.5rem;
	}
	.CTA {
		width: 70vh;
	}
}

@media only screen and (min-device-width: 1300px) {
	.about {
		font-size: 1rem;
		display: flex;
		align-items: center;
		text-align: justify;
	}

	.row {
		padding: 0rem 3rem;
	}

	.CTA {
		width: 70vh;
	}
}
