.magazine-holder {
	display: flex;
	justify-content: center;
}

.magazine {
	border: 1px solid black;
	height: 80vh;
	padding: 0;
	margin: 1rem;
}

@media only screen and (min-device-width: 1300px) {
	.magazine {
		border: 1px solid black;
		height: 88vh;
	}
}
