/* Larger device nav css */

* {
	font-family: 'Montserrat', sans-serif;
}

.fullscreen-nav {
	padding-top: 0.5rem;
}

.fullscreen-nav-ul {
	display: flex;
	justify-content: center;
}

.fullscreen-nav-li {
	list-style: none;
	font-weight: 400;
	padding-left: 1rem;
}

.fullscreen-nav-link,
.fullscreen-nav-link:hover,
.brand,
.brand:hover {
	color: black;
	text-decoration: none;
}

/* Mobile nav css */

.ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2rem;
}

.li {
	position: relative;
	list-style: none;
	text-align: center;
	display: block;
	font-size: 3.5rem;
	font-weight: 800;
}

.link {
	color: white;
	text-decoration: none;
}
.link:hover {
	color: white;
}

.li:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 8px;
	background-color: grey;
	transform: translateY(-50%) scaleX(0);
	transform-origin: right;
	transition: 0.5s transform;
}

.li:hover:before {
	transform: translateY(-50%) scaleX(1);
	transform-origin: left;
	transition: 0.5s transform;
}

.mobile-brand-holder {
	display: flex;
	align-items: center;
	padding: 0;
}

.hamburger-menu {
	top: 2rem;
	right: 2rem;
	z-index: 1;
	cursor: pointer;
	font-size: 2rem;
}

.cancel {
	top: 2rem;
	right: 2rem;
	z-index: 1;
	cursor: pointer;
	color: whitesmoke;
	font-size: 2rem;
}

.mobile-nav-row {
	display: flex;
	justify-content: space-between;
	padding-top: 0.5rem;
}

.hamburger-holder {
	text-align: right;
	padding: 0;
}

@media only screen and (max-device-width: 576px) {
	.fullscreen-nav {
		display: none;
	}

	.li {
		font-size: 2.5rem;
		font-weight: 800;
	}
}
@media only screen and (min-device-width: 577px) and (max-device-width: 768px) {
	.fullscreen-nav {
		display: none;
	}
	.mobile-nav {
		display: block;
	}
}
@media only screen and (min-device-width: 769px) and (max-device-width: 992px) {
	.mobile-nav {
		display: none;
	}
}

@media only screen and (min-device-width: 992px) and (max-device-width: 1300px) {
	.mobile-nav {
		display: none;
	}
}

@media only screen and (min-device-width: 1300px) {
	.mobile-nav {
		display: none;
	}
}
