.footer {
	margin-top: auto;
}

.footer-content-holder {
	display: flex;
	justify-content: center;
	padding: 0;
}

.phone,
.email,
.email-address {
	color: black;
	margin: 0;
	font-size: 0.9rem;
	text-align: center;
}

.email {
	margin-top: 0.6rem;
}

.privacy-policy-disclaimer {
	padding-left: 0.3rem;
	color: grey;
}

.privacy-policy-disclaimer:hover {
	color: grey;
}
